header {
	background-color: #b2b2b2;
}
a {
	background-color: #c5c5c5;
	color: #000000 ;
}

aside {
	display: none;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}
h2 {
	color: #000080;
	text-transform: uppercase;
}

section {
	background-color: #7f7f7f;
}