@font-face{
	font-family: mySpecialFont;
	src: url('Aerwyna.ttf');
}
p{
	color: #fcbc3d;
	font-family: mySpecialFont;
	font-size: xx-large; /*Can use px or percent*/

}
h1, span{
	color: #0f2a59;
	font-family: Courier, Impact, Arial;
	background-color: #B3B3B3;
}
h2{
	font-style: italic;
	font-variant: small-caps;
	line-height: 200%;
}
